<!DOCTYPE html>
<html lang="es">
    <meta name="ip" content=<%= ip %>>
    <meta name="client_number" content="2">
    <head>
        <script src="../../scripts/ws-conection-v2.js" defer></script>
        <script src="../../scripts/lunch-empty-video.js" defer></script>

    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
    <!--link rel="stylesheet" href="styles.css"-->
</head>
    <body id="body">
        <img style="height: 80vh;" id="reposo" src="../../animaciones/reposo.gif" /> 
        <img style="display: none; height: 80vh;" id="suma" src="../../animaciones/suma.gif"/> 
        <img style="display: none; height: 80vh;" id="resta" src="../../animaciones/resta.gif"  /> 
        <img style="display: none; height: 80vh;" id="voice" src="../../animaciones/voice.gif" /> 
        <img style="display: none; height: 80vh;" id="notificacion" src="../../animaciones/notificacion.gif"  /> 
        <img style="display: none; height: 80vh;" id="qr" src="../../animaciones/qr.gif"  /> 
        <img style="display: none; height: 80vh;" id="qr-blanco" src="../../animaciones/qr-blanco.gif"  /> 
    </body>
</html>